/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Users/paulsutcliffe/.gems/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Users/paulsutcliffe/.gems/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Users/paulsutcliffe/.gems/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Users/paulsutcliffe/.gems/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Users/paulsutcliffe/.gems/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Users/paulsutcliffe/.gems/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Users/paulsutcliffe/.gems/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Users/paulsutcliffe/.gems/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Users/paulsutcliffe/.gems/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* HTML5 ? Boilerplate
 * ==|== normalize ==========================================================
 */
/* line 5, ../../app/assets/stylesheets/_base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 6, ../../app/assets/stylesheets/_base.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 7, ../../app/assets/stylesheets/_base.scss */
audio:not([controls]) {
  display: none;
}

/* line 8, ../../app/assets/stylesheets/_base.scss */
[hidden] {
  display: none;
}

/* line 10, ../../app/assets/stylesheets/_base.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 11, ../../app/assets/stylesheets/_base.scss */
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}

/* line 12, ../../app/assets/stylesheets/_base.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 14, ../../app/assets/stylesheets/_base.scss */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 15, ../../app/assets/stylesheets/_base.scss */
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 17, ../../app/assets/stylesheets/_base.scss */
a {
  color: #00e;
}

/* line 18, ../../app/assets/stylesheets/_base.scss */
a:visited {
  color: #551a8b;
}

/* line 19, ../../app/assets/stylesheets/_base.scss */
a:hover {
  color: #06e;
}

/* line 20, ../../app/assets/stylesheets/_base.scss */
a:focus {
  outline: thin dotted;
}

/* line 21, ../../app/assets/stylesheets/_base.scss */
a:hover, a:active {
  outline: 0;
}

/* line 23, ../../app/assets/stylesheets/_base.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 24, ../../app/assets/stylesheets/_base.scss */
b, strong {
  font-weight: bold;
}

/* line 25, ../../app/assets/stylesheets/_base.scss */
blockquote {
  margin: 1em 40px;
}

/* line 26, ../../app/assets/stylesheets/_base.scss */
dfn {
  font-style: italic;
}

/* line 27, ../../app/assets/stylesheets/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 28, ../../app/assets/stylesheets/_base.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 29, ../../app/assets/stylesheets/_base.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 30, ../../app/assets/stylesheets/_base.scss */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 31, ../../app/assets/stylesheets/_base.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 32, ../../app/assets/stylesheets/_base.scss */
q {
  quotes: none;
}

/* line 33, ../../app/assets/stylesheets/_base.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 34, ../../app/assets/stylesheets/_base.scss */
small {
  font-size: 85%;
}

/* line 35, ../../app/assets/stylesheets/_base.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 36, ../../app/assets/stylesheets/_base.scss */
sup {
  top: -0.5em;
}

/* line 37, ../../app/assets/stylesheets/_base.scss */
sub {
  bottom: -0.25em;
}

/* line 38, ../../app/assets/stylesheets/_base.scss */
ul, ol {
  margin: 0;
  padding: 0;
}

/* line 39, ../../app/assets/stylesheets/_base.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 40, ../../app/assets/stylesheets/_base.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 41, ../../app/assets/stylesheets/_base.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 42, ../../app/assets/stylesheets/_base.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 43, ../../app/assets/stylesheets/_base.scss */
figure {
  margin: 0;
}

/* line 45, ../../app/assets/stylesheets/_base.scss */
form {
  margin: 0;
}

/* line 46, ../../app/assets/stylesheets/_base.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 47, ../../app/assets/stylesheets/_base.scss */
label {
  cursor: pointer;
}

/* line 48, ../../app/assets/stylesheets/_base.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* line 49, ../../app/assets/stylesheets/_base.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 50, ../../app/assets/stylesheets/_base.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 51, ../../app/assets/stylesheets/_base.scss */
table button, table input {
  *overflow: auto;
}

/* line 52, ../../app/assets/stylesheets/_base.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 53, ../../app/assets/stylesheets/_base.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 54, ../../app/assets/stylesheets/_base.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 55, ../../app/assets/stylesheets/_base.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 56, ../../app/assets/stylesheets/_base.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 57, ../../app/assets/stylesheets/_base.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 59, ../../app/assets/stylesheets/_base.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 61, ../../app/assets/stylesheets/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 62, ../../app/assets/stylesheets/_base.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ======================================== */
/* line 67, ../../app/assets/stylesheets/_base.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 68, ../../app/assets/stylesheets/_base.scss */
.ir br {
  display: none;
}

/* line 69, ../../app/assets/stylesheets/_base.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 70, ../../app/assets/stylesheets/_base.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 71, ../../app/assets/stylesheets/_base.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 72, ../../app/assets/stylesheets/_base.scss */
.invisible {
  visibility: hidden;
}

/* line 73, ../../app/assets/stylesheets/_base.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 74, ../../app/assets/stylesheets/_base.scss */
.clearfix:after {
  clear: both;
}

/* line 75, ../../app/assets/stylesheets/_base.scss */
.clearfix {
  zoom: 1;
}

/* ==|== print styles ======================================================= */
@media print {
  /* line 81, ../../app/assets/stylesheets/_base.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 82, ../../app/assets/stylesheets/_base.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 83, ../../app/assets/stylesheets/_base.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 84, ../../app/assets/stylesheets/_base.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 85, ../../app/assets/stylesheets/_base.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 86, ../../app/assets/stylesheets/_base.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 87, ../../app/assets/stylesheets/_base.scss */
  thead {
    display: table-header-group;
  }

  /* line 88, ../../app/assets/stylesheets/_base.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 89, ../../app/assets/stylesheets/_base.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 91, ../../app/assets/stylesheets/_base.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 92, ../../app/assets/stylesheets/_base.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
/* #Site Styles
================================================== */
/* #Page Styles
================================================== */
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/*
==================================================
DEFAULT
==================================================
*/
/* line 145, ../../app/assets/stylesheets/_base.scss */
body {
  font: normal normal 16px/145% "Fredoka", Arial, Helvetica, sans-serif;
  background: url(../images/backgrounds/bg-body.jpg) repeat #0f363a;
  text-align: left;
}

/* line 147, ../../app/assets/stylesheets/_base.scss */
a {
  -moz-transition: all 0.3s ease-out;
  /* FF3.7+ */
  -o-transition: all 0.3s ease-out;
  /* Opera 10.5 */
  -webkit-transition: all 0.3s ease-out;
  /* Saf3.2+, Chrome */
  transition: all 0.3s ease-out;
  text-decoration: none;
}

/* line 157, ../../app/assets/stylesheets/_base.scss */
p, span, strong, i, li, dt, dd, a,
h1, h2, h3,
h4, h5, h6, .title {
  font-family: 'Fredoka One';
  text-shadow: 1px 1px 1px white;
}

/* line 158, ../../app/assets/stylesheets/_base.scss */
.title {
  width: 500px;
  height: 50px;
  padding: 13px 10px 10px 22px;
  padding-left: 15px;
  text-align: left;
  background: url(../images/backgrounds/bg-heading.png) no-repeat;
}

/* line 160, ../../app/assets/stylesheets/_base.scss */
.centered .title {
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* font-color
================================================== */
/* line 166, ../../app/assets/stylesheets/_base.scss */
*,
a, a:hover, a:visited {
  color: #0f363a;
}

/* font-size 1
================================================== */
/* line 174, ../../app/assets/stylesheets/_base.scss */
h1#logo,
nav.main ul li a,
nav.main ul li span,
.block {
  font-family: 'Fredoka One';
  color: #0f363a;
  font-size: 1.6em;
}

/* line 175, ../../app/assets/stylesheets/_base.scss */
.block .title {
  font-size: 100%;
}

/* line 177, ../../app/assets/stylesheets/_base.scss */
nav.main {
  margin-bottom: 170px;
}

/* font-size 2
================================================== */
/* line 184, ../../app/assets/stylesheets/_base.scss */
.block li,
a.link,
form label,
.block.width-540 .inner p {
  font-size: 0.75em;
  line-height: 1.2em;
}

/* line 185, ../../app/assets/stylesheets/_base.scss */
form label {
  margin-top: 8px;
}

/*
==================================================
HEADER
==================================================
*/
/* line 193, ../../app/assets/stylesheets/_base.scss */
header.main {
  height: 74px;
  overflow: hidden;
  background: url(../images/backgrounds/bg-header-menu.png) repeat-x;
}

/* line 194, ../../app/assets/stylesheets/_base.scss */
h1#logo {
  margin: 10px 0 0;
  padding: 0;
}

/* line 195, ../../app/assets/stylesheets/_base.scss */
h1#logo a {
  color: #0f363a;
}

/*
==================================================
MENU
==================================================
*/
/* line 203, ../../app/assets/stylesheets/_base.scss */
nav.main {
  height: 35px;
  padding-top: 11px;
  background: url(../images/backgrounds/bg-header-menu.png) repeat-x 0 -74px;
}

/* line 204, ../../app/assets/stylesheets/_base.scss */
nav.main ul li {
  float: left;
  margin-right: 20px;
}

/* line 205, ../../app/assets/stylesheets/_base.scss */
nav.main ul li span {
  text-decoration: underline;
}

/* line 206, ../../app/assets/stylesheets/_base.scss */
nav.main ul#admin-menu li {
  float: right;
  margin-right: 0;
}

/* MENU main
================================================== */
/*
==================================================
FORMS
==================================================
*/
/* line 221, ../../app/assets/stylesheets/_base.scss */
form label {
  width: 130px;
  float: left;
  text-align: right;
  padding-right: 5px;
}

/* line 223, ../../app/assets/stylesheets/_base.scss */
form .field,
form .actions {
  width: 100%;
  float: left;
  clear: left;
}

/* line 224, ../../app/assets/stylesheets/_base.scss */
form .actions {
  margin-bottom: 0;
}

/* line 225, ../../app/assets/stylesheets/_base.scss */
form .field input {
  width: 300px;
  float: left;
  border: 0;
  padding: 13px 6px;
  background: url(../images/backgrounds/btn-global.png) no-repeat -4px -104px;
}

/* line 227, ../../app/assets/stylesheets/_base.scss */
form .field select,
form .field textarea {
  width: 320px;
  float: left;
  border: 0;
  padding: 6px 6px;
  background: url(../images/backgrounds/btn-global.png) no-repeat -4px -104px;
}

/* line 228, ../../app/assets/stylesheets/_base.scss */
form .field select option {
  background: white;
}

/* line 229, ../../app/assets/stylesheets/_base.scss */
form .actions input {
  width: 117px;
  height: 40px;
  text-indent: -99999px;
  border: 0;
  float: right;
  background: url(../images/backgrounds/btn-global.png) no-repeat -1px -53px;
}

/* line 231, ../../app/assets/stylesheets/_base.scss */
form .field textarea {
  background-position: -4px -154px;
  height: 180px;
}

/* line 234, ../../app/assets/stylesheets/_base.scss */
#flash_notice {
  width: 520px;
  margin: 0 auto;
  padding: 15px;
  font-size: 1.5em;
  background: white;
  margin-bottom: 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  color: #ff0000;
  font-family: 'Fredoka One';
}

/* line 237, ../../app/assets/stylesheets/_base.scss */
#devise-sessions .block.width-540 {
  background-image: url(../images/backgrounds/bg-block-3.png);
}

/* line 238, ../../app/assets/stylesheets/_base.scss */
#devise-sessions .block.width-540 form {
  width: 450px;
}

/* line 239, ../../app/assets/stylesheets/_base.scss */
#devise-sessions form .actions input {
  background-position: -122px -53px;
}

/* line 241, ../../app/assets/stylesheets/_base.scss */
form .field.checkbox {
  text-align: right;
}

/* line 243, ../../app/assets/stylesheets/_base.scss */
form .field.checkbox label,
form .field.checkbox input {
  width: auto;
  display: inline;
  float: none;
}

/* line 245, ../../app/assets/stylesheets/_base.scss */
footer.main {
  height: 100px;
  margin-top: 200px;
}

/* line 246, ../../app/assets/stylesheets/_base.scss */
#kosmyka {
  width: 157px;
  height: 38px;
  display: block;
  margin: 0 auto;
  background: url(../images/kosmyka.png) no-repeat -7px 5px;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 248, ../../app/assets/stylesheets/_base.scss */
#kosmyka:hover {
  background-position: -7px -45px;
}

/*
==================================================
BLOCKS
==================================================
*/
/* line 257, ../../app/assets/stylesheets/_base.scss */
table {
  width: 100%;
}

/* line 258, ../../app/assets/stylesheets/_base.scss */
.block {
  width: 950px;
  padding: 5px;
  background: url(../images/backgrounds/bg-block-1.png) no-repeat 0 0;
}

/* line 259, ../../app/assets/stylesheets/_base.scss */
.block.width-540 {
  width: 620px;
  height: 780px;
  padding: 20px;
  background: url(../images/backgrounds/bg-block-2.png) no-repeat 0 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 261, ../../app/assets/stylesheets/_base.scss */
.block.width-540 form {
  width: 500px;
  margin: 0 auto;
  display: block;
}

/* line 263, ../../app/assets/stylesheets/_base.scss */
.block .inner {
  padding-top: 40px;
}

/* line 264, ../../app/assets/stylesheets/_base.scss */
.block.width-540 .inner {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 267, ../../app/assets/stylesheets/_base.scss */
.block.centered {
  float: none;
  margin: 0 auto;
}

/* line 268, ../../app/assets/stylesheets/_base.scss */
.block-footer {
  width: 100%;
  margin-top: 10px;
  float: left;
  clear: left;
  border-top: 1px solid #ABB9BA;
}

/* line 269, ../../app/assets/stylesheets/_base.scss */
.block-footer .link.last {
  float: right;
}

/* line 271, ../../app/assets/stylesheets/_base.scss */
#videos.edit .block.width-540 {
  height: auto;
  padding: 20px 20px 100px;
  background: url(../images/backgrounds/bg-block-2-videos-edit.png) no-repeat 0 15px;
  overflow: hidden;
}

/* line 272, ../../app/assets/stylesheets/_base.scss */
#videos.show .block.width-540 {
  background-image: url("../images/backgrounds/bg-block-3.png");
}

/*
==================================================
CONTROLLERS
==================================================
*/
/* line 280, ../../app/assets/stylesheets/_base.scss */
.show .block.width-540 .inner {
  padding-top: 15px;
}

/* line 281, ../../app/assets/stylesheets/_base.scss */
#categories.show .block.width-540 .inner {
  padding-top: 45px;
}

/* line 282, ../../app/assets/stylesheets/_base.scss */
.show .block.width-540 .inner p {
  padding: 0 60px;
}

/* line 283, ../../app/assets/stylesheets/_base.scss */
.show .block.width-540 .inner img {
  display: block;
  margin: 0 auto;
}

/* line 286, ../../app/assets/stylesheets/_base.scss */
#characters.show .block.width-540 {
  background: url(../images/backgrounds/bg-block-2.png) no-repeat scroll 0 10px;
}

/* line 288, ../../app/assets/stylesheets/_base.scss */
#characters.new .block.width-540,
#characters.edit .block.width-540 {
  background: url(../images/backgrounds/bg-block-3.png) no-repeat scroll 0 10px;
}

/* line 291, ../../app/assets/stylesheets/_base.scss */
#categories.new .block.width-540,
#categories.edit .block.width-540,
#categories.show .block.width-540 {
  background-image: url(../images/backgrounds/bg-block-4.png);
}

/* line 292, ../../app/assets/stylesheets/_base.scss */
#categories.new .block.width-540 .actions input {
  margin-bottom: 0;
}

/* BLOCK behavior-table
================================================== */
/* line 296, ../../app/assets/stylesheets/_base.scss */
.block.behavior-table .table-body {
  height: auto !important;
  height: 276px !important;
  min-height: 276px;
  border-bottom: 1px solid #0f363a;
  border-top: 1px solid #0f363a;
}

/* line 298, ../../app/assets/stylesheets/_base.scss */
.block thead th {
  margin: 50px 0 0 0;
  vertical-align: bottom;
}

/* line 299, ../../app/assets/stylesheets/_base.scss */
.block tbody tr td {
  padding: 15px 0 5px;
  float: left;
}

/* line 301, ../../app/assets/stylesheets/_base.scss */
.block.width-1020 {
  width: 1020px;
  height: 540px;
  padding: 14px 40px 0 50px;
  position: relative;
  left: -35px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 303, ../../app/assets/stylesheets/_base.scss */
.block.width-1020 table {
  margin: 0;
}

/*.block thead tr{margin-top:15px}*/
/* line 306, ../../app/assets/stylesheets/_base.scss */
.block.behavior-table ul {
  width: 100%;
  float: left;
}

/* line 308, ../../app/assets/stylesheets/_base.scss */
.block.behavior-table .table-head,
.block.behavior-table .table-body {
  width: 100%;
  float: left;
  clear: left;
  border-bottom: 1px solid #abb9ba;
}

/* line 310, ../../app/assets/stylesheets/_base.scss */
.block.behavior-table .table-head ul,
.block.behavior-table .table-footer {
  padding-left: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 312, ../../app/assets/stylesheets/_base.scss */
.block.behavior-table .table-footer {
  padding-top: 5px;
}

/* line 313, ../../app/assets/stylesheets/_base.scss */
.block.behavior-table .table-head ul li {
  margin-top: 0;
  padding: 0;
}

/* line 314, ../../app/assets/stylesheets/_base.scss */
.block.behavior-table .table-body ul {
  width: 100%;
  border: 1px solid transparent;
  padding: 4px 5px;
  display: table-row;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 316, ../../app/assets/stylesheets/_base.scss */
.block.behavior-table .table-body ul li {
  float: none;
  display: table-cell;
  vertical-align: middle;
}

/* line 317, ../../app/assets/stylesheets/_base.scss */
.block.behavior-table .table-body ul:hover {
  border: 1px solid #668890;
  background: #eae5f1;
}

/* line 318, ../../app/assets/stylesheets/_base.scss */
.block.behavior-table ul li {
  min-height: 42px;
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0 0px;
}

/* line 319, ../../app/assets/stylesheets/_base.scss */
.block.behavior-table ul li.titulo {
  width: 250px;
  clear: left;
}

/* line 320, ../../app/assets/stylesheets/_base.scss */
.block.behavior-table ul li.archivo {
  width: 160px;
}

/* line 321, ../../app/assets/stylesheets/_base.scss */
.block.behavior-table ul li.categoria {
  width: 125px;
}

/* line 322, ../../app/assets/stylesheets/_base.scss */
.block.behavior-table ul li.personaje {
  width: 130px;
}

/* line 323, ../../app/assets/stylesheets/_base.scss */
.block.behavior-table ul li.nombre {
  width: 665px;
  clear: left;
}

/* line 324, ../../app/assets/stylesheets/_base.scss */
.block.behavior-table ul li.links {
  margin-top: 0;
  padding-top: 0;
}

/* line 325, ../../app/assets/stylesheets/_base.scss */
.block.behavior-table ul li.links a.btn {
  margin-top: 0px;
}

/* line 326, ../../app/assets/stylesheets/_base.scss */
.block tbody tr:hover {
  background: url(../images/backgrounds/table-1-hover.png) no-repeat 0 0;
  border-radius: 20x;
}

/* line 328, ../../app/assets/stylesheets/_base.scss */
.block.behavior-table .table-footer .pagination {
  width: 500px;
  padding-right: 10px;
  float: right;
  text-align: right;
}

/* line 329, ../../app/assets/stylesheets/_base.scss */
.block.behavior-table .table-footer .pagination li {
  display: inline;
  float: none;
}

/* line 331, ../../app/assets/stylesheets/_base.scss */
a.btn {
  width: 115px;
  height: 42px;
  text-indent: -99999px;
  float: left;
  background: url(../images/backgrounds/btn-global.png) no-repeat 0 0;
}

/* line 332, ../../app/assets/stylesheets/_base.scss */
a.btn.edit {
  background-position: -2px -3px;
  margin-right: 20px;
}

/* line 333, ../../app/assets/stylesheets/_base.scss */
a.btn.destroy {
  background-position: -122px -3px;
}

/*
=============================================
SOCIAL LINKS
=============================================
*/
/* line 342, ../../app/assets/stylesheets/_base.scss */
.social {
  width: 200px;
  height: 70px;
  background: url(../images/global.png) no-repeat 0 0px;
}

/* line 343, ../../app/assets/stylesheets/_base.scss */
.social li {
  float: left;
  margin-right: 3px;
  margin-top: 25px;
}

/* line 344, ../../app/assets/stylesheets/_base.scss */
.social li a {
  width: 25px;
  height: 20px;
  display: block;
  background: url(../images/global.png) no-repeat 0 -3px;
  -moz-transition: none;
  -webkit-transition: none;
  transition: none;
}

/* line 347, ../../app/assets/stylesheets/_base.scss */
.social li:first-of-type {
  margin-left: 97px;
}

/* line 349, ../../app/assets/stylesheets/_base.scss */
.social li.facebook a {
  width: 20px;
  background-position: -233px -4px;
}

/* line 350, ../../app/assets/stylesheets/_base.scss */
.social li.twitter a {
  background-position: -205px -4px;
}

/* line 351, ../../app/assets/stylesheets/_base.scss */
.social li.rss a {
  background-position: -107px -3px;
}

/* line 352, ../../app/assets/stylesheets/_base.scss */
.social li.pinterest a {
  background-position: -255px -4px;
}

/* line 353, ../../app/assets/stylesheets/_base.scss */
.social li.soundcloud a {
  background-position: 0 -3px;
}

/* line 355, ../../app/assets/stylesheets/_base.scss */
.social li.facebook a:hover {
  background-position: -233px -29px;
}

/* line 356, ../../app/assets/stylesheets/_base.scss */
.social li.twitter a:hover {
  background-position: -205px -29px;
}

/* line 357, ../../app/assets/stylesheets/_base.scss */
.social li.rss a:hover {
  background-position: -107px -29px;
}

/* line 358, ../../app/assets/stylesheets/_base.scss */
.social li.pinterest a:hover {
  background-position: -255px -29px;
}

/* line 359, ../../app/assets/stylesheets/_base.scss */
.social li.soundcloud a:hover {
  background-position: 0 -29px;
}

/*
=============================================
CONTENT TYPES
=============================================
*/
/* line 367, ../../app/assets/stylesheets/_base.scss */
.list-type ul {
  width: 100%;
}

/* line 368, ../../app/assets/stylesheets/_base.scss */
.list-type li {
  width: 300px;
  height: 220px;
  padding: 15px 20px 20px;
  text-align: center;
  color: white;
  float: left;
  margin: 0 12px 30px 0;
  background: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: box-sizing;
  box-sizing: border-box;
  *behavior: url(javascripts/ie-support/Schepp-box-sizing-polyfill/boxsizing.htc);
}

/* line 371, ../../app/assets/stylesheets/_base.scss */
.list-type li:nth-of-type(odd) {
  clear: left;
}

/* line 372, ../../app/assets/stylesheets/_base.scss */
.list-type li:nth-of-type(even) {
  margin-right: 0;
}

/* line 373, ../../app/assets/stylesheets/_base.scss */
.list-type li h3 {
  border-bottom: 2px solid;
}

/* line 375, ../../app/assets/stylesheets/_base.scss */
.list-type li h3,
.list-type li img {
  padding-bottom: 5px;
}

/* line 376, ../../app/assets/stylesheets/_base.scss */
.list-type li p {
  color: #636363;
  text-align: left;
}

/* line 379, ../../app/assets/stylesheets/_base.scss */
.gallery-type li {
  border: 15px solid white;
  margin: 0 55px 55px 0;
  float: left;
  -moz-box-shadow: 4px 4px 0 #363636, -4px -4px 0 #363636, 4px -4px 0 #363636, -4px 4px 0 #363636;
  -webkit-box-shadow: 4px 4px 0 #363636, -4px -4px 0 #363636, 4px -4px 0 #363636, -4px 4px 0 #363636;
  -o-box-shadow: 4px 4px 0 #363636, -4px -4px 0 #363636, 4px -4px 0 #363636, -4px 4px 0 #363636;
  -khtml-box-shadow: 4px 4px 0 #363636, -4px -4px 0 #363636, 4px -4px 0 #363636, -4px 4px 0 #363636;
  box-shadow: 4px 4px 0 #363636, -4px -4px 0 #363636, 4px -4px 0 #363636, -4px 4px 0 #363636;
}

/*
=============================================
DEFAULT BLOCKS
=============================================
*/
/* line 393, ../../app/assets/stylesheets/_base.scss */
.block {
  width: 100%;
  float: left;
}

/* line 397, ../../app/assets/stylesheets/_base.scss */
.block .inner {
  margin: 0 10px;
}

/* line 400, ../../app/assets/stylesheets/_base.scss */
.mtop-1 {
  margin-top: 5px;
}

/* line 401, ../../app/assets/stylesheets/_base.scss */
.mtop-2 {
  margin-top: 10px;
}

/* line 402, ../../app/assets/stylesheets/_base.scss */
.mtop-3 {
  margin-top: 15px;
}

/* line 403, ../../app/assets/stylesheets/_base.scss */
.mtop-4 {
  margin-top: 20px;
}

/* line 404, ../../app/assets/stylesheets/_base.scss */
.mtop-5 {
  margin-top: 25px;
}

/* line 405, ../../app/assets/stylesheets/_base.scss */
.mtop-6 {
  margin-top: 30px;
}

/* line 406, ../../app/assets/stylesheets/_base.scss */
.mtop-7 {
  margin-top: 35px;
}

/* line 407, ../../app/assets/stylesheets/_base.scss */
.mtop-8 {
  margin-top: 40px;
}

/* line 408, ../../app/assets/stylesheets/_base.scss */
.mtop-9 {
  margin-top: 45px;
}

/* line 409, ../../app/assets/stylesheets/_base.scss */
.mtop-10 {
  margin-top: 50px;
}

/* line 410, ../../app/assets/stylesheets/_base.scss */
.mtop-11 {
  margin-top: 55px;
}

/* line 411, ../../app/assets/stylesheets/_base.scss */
.mtop-12 {
  margin-top: 60px;
}

/* line 412, ../../app/assets/stylesheets/_base.scss */
.mtop-13 {
  margin-top: 65px;
}

/* line 413, ../../app/assets/stylesheets/_base.scss */
.mtop-14 {
  margin-top: 70px;
}

/* line 414, ../../app/assets/stylesheets/_base.scss */
.mtop-15 {
  margin-top: 75px;
}

/* line 415, ../../app/assets/stylesheets/_base.scss */
.mtop-16 {
  margin-top: 80px;
}

/* line 416, ../../app/assets/stylesheets/_base.scss */
.mtop-17 {
  margin-top: 85px;
}

/* line 417, ../../app/assets/stylesheets/_base.scss */
.mtop-18 {
  margin-top: 90px;
}

/* line 418, ../../app/assets/stylesheets/_base.scss */
.mtop-19 {
  margin-top: 95px;
}

/* line 419, ../../app/assets/stylesheets/_base.scss */
.mtop-20 {
  margin-top: 100px;
}

/* line 420, ../../app/assets/stylesheets/_base.scss */
.mtop-21 {
  margin-top: 105px;
}

/* line 421, ../../app/assets/stylesheets/_base.scss */
.mtop-22 {
  margin-top: 110px;
}

/* line 422, ../../app/assets/stylesheets/_base.scss */
.mtop-23 {
  margin-top: 115px;
}

/* line 423, ../../app/assets/stylesheets/_base.scss */
.mtop-24 {
  margin-top: 120px;
}

/* line 424, ../../app/assets/stylesheets/_base.scss */
.mtop-25 {
  margin-top: 125px;
}

/* line 425, ../../app/assets/stylesheets/_base.scss */
.mtop-26 {
  margin-top: 130px;
}

/* line 426, ../../app/assets/stylesheets/_base.scss */
.mtop-27 {
  margin-top: 135px;
}

/* line 427, ../../app/assets/stylesheets/_base.scss */
.mtop-28 {
  margin-top: 140px;
}

/* line 428, ../../app/assets/stylesheets/_base.scss */
.mtop-29 {
  margin-top: 145px;
}

/* line 429, ../../app/assets/stylesheets/_base.scss */
.mtop-30 {
  margin-top: 150px;
}

/* line 431, ../../app/assets/stylesheets/_base.scss */
.mbottom-1 {
  margin-bottom: 5px;
}

/* line 432, ../../app/assets/stylesheets/_base.scss */
.mbottom-2, #contacts.index #content form .field textarea {
  margin-bottom: 10px;
}

/* line 433, ../../app/assets/stylesheets/_base.scss */
.mbottom-3, p {
  margin-bottom: 15px;
}

/* line 434, ../../app/assets/stylesheets/_base.scss */
.mbottom-4, .not-front #content.region, #content-wrapper .block, .field, .actions {
  margin-bottom: 20px;
}

/* line 435, ../../app/assets/stylesheets/_base.scss */
.mbottom-5 {
  margin-bottom: 25px;
}

/* line 436, ../../app/assets/stylesheets/_base.scss */
.mbottom-6 {
  margin-bottom: 30px;
}

/* line 437, ../../app/assets/stylesheets/_base.scss */
.mbottom-7 {
  margin-bottom: 35px;
}

/* line 438, ../../app/assets/stylesheets/_base.scss */
.mbottom-8, .region {
  margin-bottom: 40px;
}

/* line 439, ../../app/assets/stylesheets/_base.scss */
.mbottom-9 {
  margin-bottom: 45px;
}

/* line 440, ../../app/assets/stylesheets/_base.scss */
.mbottom-10 {
  margin-bottom: 50px;
}

/* line 441, ../../app/assets/stylesheets/_base.scss */
.mbottom-11 {
  margin-bottom: 55px;
}

/* line 442, ../../app/assets/stylesheets/_base.scss */
.mbottom-12 {
  margin-bottom: 60px;
}

/* line 443, ../../app/assets/stylesheets/_base.scss */
.mbottom-13 {
  margin-bottom: 65px;
}

/* line 444, ../../app/assets/stylesheets/_base.scss */
.mbottom-14 {
  margin-bottom: 70px;
}

/* line 445, ../../app/assets/stylesheets/_base.scss */
.mbottom-15 {
  margin-bottom: 75px;
}

/* line 446, ../../app/assets/stylesheets/_base.scss */
.mbottom-16 {
  margin-bottom: 80px;
}

/* line 447, ../../app/assets/stylesheets/_base.scss */
.mbottom-17 {
  margin-bottom: 85px;
}

/* line 448, ../../app/assets/stylesheets/_base.scss */
.mbottom-18 {
  margin-bottom: 90px;
}

/* line 449, ../../app/assets/stylesheets/_base.scss */
.mbottom-19 {
  margin-bottom: 95px;
}

/* line 450, ../../app/assets/stylesheets/_base.scss */
.mbottom-20 {
  margin-bottom: 100px;
}

/* line 451, ../../app/assets/stylesheets/_base.scss */
.mbottom-21 {
  margin-bottom: 105px;
}

/* line 452, ../../app/assets/stylesheets/_base.scss */
.mbottom-22 {
  margin-bottom: 110px;
}

/* line 453, ../../app/assets/stylesheets/_base.scss */
.mbottom-23 {
  margin-bottom: 115px;
}

/* line 454, ../../app/assets/stylesheets/_base.scss */
.mbottom-24 {
  margin-bottom: 120px;
}

/* line 455, ../../app/assets/stylesheets/_base.scss */
.mbottom-25 {
  margin-bottom: 125px;
}

/* line 456, ../../app/assets/stylesheets/_base.scss */
.mbottom-26 {
  margin-bottom: 130px;
}

/* line 457, ../../app/assets/stylesheets/_base.scss */
.mbottom-27 {
  margin-bottom: 135px;
}

/* line 458, ../../app/assets/stylesheets/_base.scss */
.mbottom-28 {
  margin-bottom: 140px;
}

/* line 459, ../../app/assets/stylesheets/_base.scss */
.mbottom-29 {
  margin-bottom: 145px;
}

/* line 460, ../../app/assets/stylesheets/_base.scss */
.mbottom-30 {
  margin-bottom: 150px;
}

/* line 462, ../../app/assets/stylesheets/_base.scss */
.ptop-1 {
  padding-top: 5px;
}

/* line 463, ../../app/assets/stylesheets/_base.scss */
.ptop-2 {
  padding-top: 10px;
}

/* line 464, ../../app/assets/stylesheets/_base.scss */
.ptop-3 {
  padding-top: 15px;
}

/* line 465, ../../app/assets/stylesheets/_base.scss */
.ptop-4 {
  padding-top: 20px;
}

/* line 466, ../../app/assets/stylesheets/_base.scss */
.ptop-5, #sidebar-first .block {
  padding-top: 25px;
}

/* line 467, ../../app/assets/stylesheets/_base.scss */
.ptop-6 {
  padding-top: 30px;
}

/* line 468, ../../app/assets/stylesheets/_base.scss */
.ptop-7 {
  padding-top: 35px;
}

/* line 469, ../../app/assets/stylesheets/_base.scss */
.ptop-8 {
  padding-top: 40px;
}

/* line 470, ../../app/assets/stylesheets/_base.scss */
.ptop-9 {
  padding-top: 45px;
}

/* line 471, ../../app/assets/stylesheets/_base.scss */
.ptop-10 {
  padding-top: 50px;
}

/* line 472, ../../app/assets/stylesheets/_base.scss */
.ptop-11 {
  padding-top: 55px;
}

/* line 473, ../../app/assets/stylesheets/_base.scss */
.ptop-12 {
  padding-top: 60px;
}

/* line 474, ../../app/assets/stylesheets/_base.scss */
.ptop-13 {
  padding-top: 65px;
}

/* line 475, ../../app/assets/stylesheets/_base.scss */
.ptop-14 {
  padding-top: 70px;
}

/* line 476, ../../app/assets/stylesheets/_base.scss */
.ptop-15 {
  padding-top: 75px;
}

/* line 477, ../../app/assets/stylesheets/_base.scss */
.ptop-16 {
  padding-top: 80px;
}

/* line 478, ../../app/assets/stylesheets/_base.scss */
.ptop-17 {
  padding-top: 85px;
}

/* line 479, ../../app/assets/stylesheets/_base.scss */
.ptop-18 {
  padding-top: 90px;
}

/* line 480, ../../app/assets/stylesheets/_base.scss */
.ptop-19 {
  padding-top: 95px;
}

/* line 481, ../../app/assets/stylesheets/_base.scss */
.ptop-20 {
  padding-top: 100px;
}

/* line 482, ../../app/assets/stylesheets/_base.scss */
.ptop-21 {
  padding-top: 105px;
}

/* line 483, ../../app/assets/stylesheets/_base.scss */
.ptop-22 {
  padding-top: 110px;
}

/* line 484, ../../app/assets/stylesheets/_base.scss */
.ptop-23 {
  padding-top: 115px;
}

/* line 485, ../../app/assets/stylesheets/_base.scss */
.ptop-24 {
  padding-top: 120px;
}

/* line 486, ../../app/assets/stylesheets/_base.scss */
.ptop-25 {
  padding-top: 125px;
}

/* line 487, ../../app/assets/stylesheets/_base.scss */
.ptop-26 {
  padding-top: 130px;
}

/* line 488, ../../app/assets/stylesheets/_base.scss */
.ptop-27 {
  padding-top: 135px;
}

/* line 489, ../../app/assets/stylesheets/_base.scss */
.ptop-28 {
  padding-top: 140px;
}

/* line 490, ../../app/assets/stylesheets/_base.scss */
.ptop-29 {
  padding-top: 145px;
}

/* line 491, ../../app/assets/stylesheets/_base.scss */
.ptop-30 {
  padding-top: 150px;
}

/* line 493, ../../app/assets/stylesheets/_base.scss */
.pbottom-1 {
  padding-bottom: 5px;
}

/* line 494, ../../app/assets/stylesheets/_base.scss */
.pbottom-2 {
  padding-bottom: 10px;
}

/* line 495, ../../app/assets/stylesheets/_base.scss */
.pbottom-3 {
  padding-bottom: 15px;
}

/* line 496, ../../app/assets/stylesheets/_base.scss */
.pbottom-4 {
  padding-bottom: 20px;
}

/* line 497, ../../app/assets/stylesheets/_base.scss */
.pbottom-5, #logo, #sidebar-first .block {
  padding-bottom: 25px;
}

/* line 498, ../../app/assets/stylesheets/_base.scss */
.pbottom-6 {
  padding-bottom: 30px;
}

/* line 499, ../../app/assets/stylesheets/_base.scss */
.pbottom-7 {
  padding-bottom: 35px;
}

/* line 500, ../../app/assets/stylesheets/_base.scss */
.pbottom-8 {
  padding-bottom: 40px;
}

/* line 501, ../../app/assets/stylesheets/_base.scss */
.pbottom-9 {
  padding-bottom: 45px;
}

/* line 502, ../../app/assets/stylesheets/_base.scss */
.pbottom-10 {
  padding-bottom: 50px;
}

/* line 503, ../../app/assets/stylesheets/_base.scss */
.pbottom-11 {
  padding-bottom: 55px;
}

/* line 504, ../../app/assets/stylesheets/_base.scss */
.pbottom-12 {
  padding-bottom: 60px;
}

/* line 505, ../../app/assets/stylesheets/_base.scss */
.pbottom-13 {
  padding-bottom: 65px;
}

/* line 506, ../../app/assets/stylesheets/_base.scss */
.pbottom-14 {
  padding-bottom: 70px;
}

/* line 507, ../../app/assets/stylesheets/_base.scss */
.pbottom-15 {
  padding-bottom: 75px;
}

/* line 508, ../../app/assets/stylesheets/_base.scss */
.pbottom-16 {
  padding-bottom: 80px;
}

/* line 509, ../../app/assets/stylesheets/_base.scss */
.pbottom-17 {
  padding-bottom: 85px;
}

/* line 510, ../../app/assets/stylesheets/_base.scss */
.pbottom-18 {
  padding-bottom: 90px;
}

/* line 511, ../../app/assets/stylesheets/_base.scss */
.pbottom-19 {
  padding-bottom: 95px;
}

/* line 512, ../../app/assets/stylesheets/_base.scss */
.pbottom-20 {
  padding-bottom: 100px;
}

/* line 513, ../../app/assets/stylesheets/_base.scss */
.pbottom-21 {
  padding-bottom: 105px;
}

/* line 514, ../../app/assets/stylesheets/_base.scss */
.pbottom-22 {
  padding-bottom: 110px;
}

/* line 515, ../../app/assets/stylesheets/_base.scss */
.pbottom-23 {
  padding-bottom: 115px;
}

/* line 516, ../../app/assets/stylesheets/_base.scss */
.pbottom-24 {
  padding-bottom: 120px;
}

/* line 517, ../../app/assets/stylesheets/_base.scss */
.pbottom-25 {
  padding-bottom: 125px;
}

/* line 518, ../../app/assets/stylesheets/_base.scss */
.pbottom-26 {
  padding-bottom: 130px;
}

/* line 519, ../../app/assets/stylesheets/_base.scss */
.pbottom-27 {
  padding-bottom: 135px;
}

/* line 520, ../../app/assets/stylesheets/_base.scss */
.pbottom-28 {
  padding-bottom: 140px;
}

/* line 521, ../../app/assets/stylesheets/_base.scss */
.pbottom-29 {
  padding-bottom: 145px;
}

/* line 522, ../../app/assets/stylesheets/_base.scss */
.pbottom-30 {
  padding-bottom: 150px;
}

/* line 524, ../../app/assets/stylesheets/_base.scss */
.centered {
  margin: 0 auto;
  display: block;
  float: none;
  clear: none;
}

/*
=============================================
CLEAR FLOATS
=============================================
*/
/* line 537, ../../app/assets/stylesheets/_base.scss */
form:after
.region:after,
.inner:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 546, ../../app/assets/stylesheets/_base.scss */
form,
.region:after,
.inner:after {
  zoom: 1;
}

/*
=============================================
X fancy (borders, radius, shadows,...)
=============================================
*/
/* line 559, ../../app/assets/stylesheets/_base.scss */
.radius-1,
.block .inner .content {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 562, ../../app/assets/stylesheets/_base.scss */
.radius-2,
#block-receta .inner,
.list-type li {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

/* line 564, ../../app/assets/stylesheets/_base.scss */
.radius-3,
.block.behavior-table .table-body ul:hover {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
}

/* line 565, ../../app/assets/stylesheets/_base.scss */
.radius-4, .block {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

/* line 566, ../../app/assets/stylesheets/_base.scss */
.radius-5 {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
}

/* line 567, ../../app/assets/stylesheets/_base.scss */
.radius-6 {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
  -khtml-border-radius: 30px;
  border-radius: 30px;
}

/* line 570, ../../app/assets/stylesheets/_base.scss */
.block9999 {
  -moz-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
}

/* default color #1 (#bcbec0) */
/* line 574, ../../app/assets/stylesheets/_base.scss */
#null {
  border: 5px solid #bcbec0;
}

/* default color #2 (#6dcff6) */
/* line 577, ../../app/assets/stylesheets/_base.scss */
#null {
  border: 0px solid #6dcff6;
}

/* line 581, ../../app/assets/stylesheets/_base.scss */
#block-receta .inner,
.list-type li,
.tab h2.title {
  border: 2px solid #1b6f7e;
}

/* line 583, ../../app/assets/stylesheets/_base.scss */
#null {
  -moz-transition: none;
  /* FF3.7+ */
  -o-transition: none;
  /* Opera 10.5 */
  -webkit-transition: none;
  /* Saf3.2+, Chrome */
  transition: none;
}

/* line 587, ../../app/assets/stylesheets/_base.scss */
#home.index #main article header figure,
#winners-list li,
#winner #profile {
  -moz-transform: rotate(-5deg);
  webkit-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9961946980917455, M12=0.08715574274765817, M21=-0.08715574274765817, M22=0.9961946980917455, sizingMethod='auto expand');
  zoom: 1;
}

/* line 595, ../../app/assets/stylesheets/_base.scss */
#home.index #main article:hover header figure,
#winners-list li:hover,
#winner #profile:hover {
  bottom: 0%;
  -moz-transform: scale(1.1) rotate(-10deg);
  -webkit-transform: scale(1.1) rotate(-10deg);
  -o-webkit-transform: scale(1.1) rotate(-10deg);
  transform: scale(1.1) rotate(-10deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.984807753012208, M12=0.17364817766693033, M21=-0.17364817766693033, M22=0.984807753012208, sizingMethod='auto expand');
  zoom: 1;
}
