#content.container
  .block.width-540.centered
    %h6.title= @video.title
    .inner
      %p
        = render :partial => "video", :locals => { :video_link => @video_link}
      .block-footer
        = link_to 'Editar', edit_video_path(@video), :class => 'link first'
        = link_to 'Regresar', videos_path, :class => 'link last'
