#content.container
  .block.width-540.centered
    %h6.title Video
    .inner
      %p
        Nombre:
        = @character.name
      = image_tag(@character.image(:medium))

      .block-footer
        = link_to 'Editar', edit_character_path(@character), :class => 'link first'
        = link_to 'Regresar', characters_path, :class => 'link last'



