#content.container
  .block.width-540.centered
    %h6.title Editando categoría
    .inner
      = render 'form'
      .block-footer
        = link_to 'Ver', @category, :class => 'link first'
        = link_to 'Regresar', categories_path, :class => 'link last'


